.desarrolladora-info {
    display: flex;
    align-items: center;
  }
  
  .logo-imagen {
    width: 40px; /* Tamaño de la imagen */
    height: 40px;
    border-radius: 50%; /* Hace que la imagen sea circular */
    margin-right: 10px; /* Espacio entre la imagen y el nombre */
  }
  
  h2 {
    margin: 0;
  }
  