<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="tienda" href="/tabs/tienda">
      <ion-icon name="home-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="notificaciones" href="/tabs/notificaciones">
      <ion-icon name="notifications-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="regalo" href="/tabs/regalo">
      <ion-icon name="gift"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="noticias" href="/tabs/noticias">
      <ion-icon name="newspaper-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="config" href="/tabs/config">
      <ion-icon name="menu-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>