<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align: center;">{{ 'CONFIGURACION' | translate }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="{{ 'ATRAS' | translate }}" defaultHref="/"></ion-back-button>      
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ 'PREFERENCIAS' | translate }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <!-- Opciones de Notificaciones -->
        <ion-item>
          <ion-label>{{ 'NOTIFICACIONES' | translate }}</ion-label>
          <ion-toggle [(ngModel)]="settings.notifications"></ion-toggle>
        </ion-item>

        <!-- Opción de Modo Oscuro -->
        <ion-item>
          <ion-label>{{ 'MODO_OSCURO' | translate }}</ion-label>
          <ion-toggle [(ngModel)]="settings.darkMode"></ion-toggle>
        </ion-item>

        <!-- Configuración de Idioma -->
        <ion-item>
          <ion-label>{{ 'IDIOMA' | translate }}</ion-label>
          <ion-select [(ngModel)]="settings.language" (ionChange)="changeLag($event)">
            <ion-select-option *ngFor="let lang of langs" [value]="lang">
              {{ getLanguageName(lang) }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <!-- Opción de Sincronización de Datos -->
        <ion-item>
          <ion-label>{{ 'SINCRONIZACION_DATOS' | translate }}</ion-label>
          <ion-toggle [(ngModel)]="settings.syncData"></ion-toggle>
        </ion-item>
      </ion-list>

      <!-- Botón para restablecer configuración a valores predeterminados -->
      <ion-button expand="full" color="danger" (click)="presentConfirmAlert()">{{ 'RESTABLECER_CONFIGURACION' | translate }}</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
